<% layout('layouts/boilerplate') %>
<h1>Create a New Player</h1>
    <form action="/players" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="player[name]">
        </div>
        <button>Add Player</button>
    </form>    
    
    <a href="/players" class="btn btn-primary">View All Players!</a>
  </body>
</html>