<!--mt-auto sets the footer at the end of the page automatically; works with flexbox-->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">DIY Fantasy 2024</span>
    </div>
</footer>